<style>
th {
    border: 1px solid ;
    padding: 5px;
}

td{
  border: 1px solid;
  border-color: #4d4d4d;
  padding: 5px;
}

thead th{
  border: solid 2px;
  background-color: #cccccc;
  border-color: #4d4d4d;
}

tr:nth-child(even) {
    background: #e9e9e9;
}

.ui-content{
  border-style: black 1px;
  background-color: #cccccc;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>

<script type="text/javascript">
		$(document).ready(function() {

			$("#getUser").click(function() {

			var username = $("input[name='username']").val();
				$.ajax({
                                	url: "/users/" + username,
	                                type: "GET",
        	                        contentType: 'application/json',
                	                data: JSON.stringify({username: username}),
                        	        success: function(result) {
                        	        	/*
                        	        	//alert(result);
										$("#result").html(JSON.stringify(

											result[0].Fname));

											$.each(result, function() {
  											$.each(this, function(k, v) {
 											   alert(result[0].Fname)
 											});
											});

											*/
										drawTable(result);

                  }
				});

				function drawTable(result) {
    for (var i = 0; i < result.length; i++) {
        drawRow(result[i]);
    }
}

function drawRow(rowData) {
    var row = $("<tr />")
    $("#personDataTable").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
    row.append($("<td>" + rowData.username + "</td>"));
    row.append($("<td>" + rowData.Fname + "</td>"));
    row.append($("<td>" + rowData.Lname + "</td>"));
    row.append($("<td>" + rowData.Eaddress + "</td>"));
 	row.append($("<td>" + rowData.birthdate + "</td>"));
 	row.append($("<td>" + rowData.maritalStatus + "</td>"));
 	row.append($("<td>" + rowData.phoneNum + "</td>"));
 	row.append($("<td>" + rowData.address + "</td>"));
 	row.append($("<td>" + rowData.city + "</td>"));
 	row.append($("<td>" + rowData.province + "</td>"));
 	row.append($("<td>" + rowData.postalCode + "</td>"));
 	row.append($("<td>" + rowData.highestEducCompleted + "</td>"));
 	row.append($("<td>" + rowData.postSecCred + "</td>"));
 	row.append($("<td>" + rowData.postGradCred + "</td>"));
 	row.append($("<td>" + rowData.overallMark + "</td>"));
 	row.append($("<td>" + rowData.reading + "</td>"));
 	row.append($("<td>" + rowData.writing + "</td>"));
 	row.append($("<td>" + rowData.listening + "</td>"));
 	row.append($("<td>" + rowData.speaking + "</td>"));
}


			});
			});
</script>

<h3>All User Profiles</h3>

  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
    <button id="getUser" name="">Get User Info</button>
<div style="overflow-x:auto;">
<table id="personDataTable">
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Birthdate</th>
        <th>Marital Status</th>
        <th>Phone #</th>
        <th>Address</th>
        <th>City</th>
        <th>Province</th>
        <th>Postal Code</th>
        <th>Highest Education Completed</th>
        <th>PostSec Credentials</th>
        <th>PostGrad Credentials</th>
        <th>Overall Mark</th>
        <th>Reading</th>
        <th>Writing</th>
        <th>Listening</th>
        <th>Speaking</th>

    </tr>
  </table>
</div>
    <div id="result">

    </div>