
<h2 class="page-header">Dashboard</h2>
<h5>Hello, <strong>{{user.Fname}}</strong>! Welcome to your dashboard</h5>  

<hr>
<h3> Admin controllers </h3>
<div>
    <ul class="nav nav-pills">
    <li role="presentation"><a href="/allusers">Get User Profiles</a></li>
    <li role="presentation"><a href="/alladministrators">Get Admin Profiles</a></li>
    <li role="presentation"><a href="/deleteuser">Delete User</a></li>
    </ul>
</div>