<h2 class="page-header">Dashboard</h2>
<h5>Hello, <strong>{{user.Fname}}</strong>! Welcome to your dashboard</h5>  
<h6>{{user.announcement}}</h6>
<hr>
<div>
<img src="http://heritageimmigration.com/wp-content/uploads/2015/07/welcome-v21.png" alt="heritageimmigration" height="300" width="500">
</div>
<div>

The history of Immigration in Canada is not a “them” kind of story – immigration is our heritage – it’s a story about us. Current Canadians may be a few generations away from their ancestors who migrated here, but we all relocated here from various places around this tiny planet – we have inherent rights and we must extend the same to others – basic respect, dignity and understanding…it’s not “us” against “them”.
We strive to deliver service excellence and an immigration experience that is smooth and as painless as possible – it is our commitment to help you figure out the best, most practical approach to immigrating into the country of your choice. So the questions become:  How big and/or important are your Goals/Desires? Is it worth the risk, delays and repeated efforts? Only you can answer that…if you’re uncertain, simply contact us – we’ll give you a free initial consultation in order to determine whether or not we can help you and let you know within 24 hours – we keep things as simple as possible.

</div>

<h4>looking for agents?</h4>


<div> </div>

</script>